<div class="container-fluid">
  <div class="ko-header">
    <div class="row ko-menu">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <a href="/" class="navbar-brand"><img src="/assets/logo.png" class="logo"></a>
          <ul class="nav navbar-nav ko-nav-full">
            <li>
              <a href="/">
                Home<br>
                <span class="ko-menu-subtext"><span class="ko-hide">-</span> Start Again</span>
              </a>
            </li>
            <li>
              <a href="/portfolio">
                Portfolio<br>
                <span class="ko-menu-subtext"><span class="ko-hide">-</span> See My Work</span>
              </a>
            </li>
            <li>
              <a href="/about">
                About<br>
                <span class="ko-menu-subtext"><span class="ko-hide">-</span> Meet Me</span>
              </a>
            </li>
            <li>
              <a href="/contact">
                Contact<br>
                <span class="ko-menu-subtext"><span class="ko-hide">-</span> Get a Quote</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <a href="portfolio"><h1>View My Work</h1></a>
  </div>
  <div class="container">
    <div class="row ko-footer">
      <div class="col-md-7">
      </div>
      <div class="col-md-1 ko-social-media-icons">
        <a href="http://www.facebook.com/mellander"><img src="/assets/facebook3.png"></a> <a href="http://www.twitter.com/mellander"><img src="/assets/logo22.png"></a>
      </div>
      <div class="col-md-4">
        <p>Koynas Design</p>
        <p>Copyright &copy; 2015 | All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
